## Preprocessing

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("../Resources/charity_data.csv")
application_df.head()

C:\Users\manni\anaconda3\envs\PythonData\lib\site-packages\tensorflow\python\framework\dtypes.py:516: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint8 = np.dtype([("qint8", np.int8, 1)])
C:\Users\manni\anaconda3\envs\PythonData\lib\site-packages\tensorflow\python\framework\dtypes.py:517: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint8 = np.dtype([("quint8", np.uint8, 1)])
C:\Users\manni\anaconda3\envs\PythonData\lib\site-packages\tensorflow\python\framework\dtypes.py:518: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint16 = np.dtype([("qint16", np.int16, 1)])
C:\Users\manni\anaconda3\envs\PythonData\lib\site-packages\tensorflow\python\framework\dtypes.py:519: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint16 = np.dtype([("quint16", np.uint16, 1)])
C:\Users\manni\anaconda3\envs\PythonData\lib\site-packages\tensorflow\python\framework\dtypes.py:520: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint32 = np.dtype([("qint32", np.int32, 1)])
C:\Users\manni\anaconda3\envs\PythonData\lib\site-packages\tensorflow\python\framework\dtypes.py:525: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  np_resource = np.dtype([("resource", np.ubyte, 1)])
C:\Users\manni\anaconda3\envs\PythonData\lib\site-packages\tensorboard\compat\tensorflow_stub\dtypes.py:541: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint8 = np.dtype([("qint8", np.int8, 1)])
C:\Users\manni\anaconda3\envs\PythonData\lib\site-packages\tensorboard\compat\tensorflow_stub\dtypes.py:542: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint8 = np.dtype([("quint8", np.uint8, 1)])
C:\Users\manni\anaconda3\envs\PythonData\lib\site-packages\tensorboard\compat\tensorflow_stub\dtypes.py:543: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint16 = np.dtype([("qint16", np.int16, 1)])
C:\Users\manni\anaconda3\envs\PythonData\lib\site-packages\tensorboard\compat\tensorflow_stub\dtypes.py:544: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint16 = np.dtype([("quint16", np.uint16, 1)])
C:\Users\manni\anaconda3\envs\PythonData\lib\site-packages\tensorboard\compat\tensorflow_stub\dtypes.py:545: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint32 = np.dtype([("qint32", np.int32, 1)])
C:\Users\manni\anaconda3\envs\PythonData\lib\site-packages\tensorboard\compat\tensorflow_stub\dtypes.py:550: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  np_resource = np.dtype([("resource", np.ubyte, 1)])

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
application_df.nunique()

EIN                       34299
NAME                      19568
APPLICATION_TYPE             17
AFFILIATION                   6
CLASSIFICATION               71
USE_CASE                      5
ORGANIZATION                  4
STATUS                        2
INCOME_AMT                    9
SPECIAL_CONSIDERATIONS        2
ASK_AMT                    8747
IS_SUCCESSFUL                 2
dtype: int64

In [3]:
# Drop the non-beneficial ID column 'EIN' 

application_df.drop(["EIN"], axis=1, inplace= True)
application_df.head()

,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [4]:
# Determine the number of unique values in each column.
application_df.nunique()

NAME                      19568
APPLICATION_TYPE             17
AFFILIATION                   6
CLASSIFICATION               71
USE_CASE                      5
ORGANIZATION                  4
STATUS                        2
INCOME_AMT                    9
SPECIAL_CONSIDERATIONS        2
ASK_AMT                    8747
IS_SUCCESSFUL                 2
dtype: int64

In [5]:
# Look at APPLICATION_TYPE value counts for binning
application_type_count = application_df["APPLICATION_TYPE"].value_counts()
application_type_count

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T14        3
T25        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [6]:
application_types_to_replace = list(application_type_count[application_type_count < 500].index) 
application_types_to_replace

['T9', 'T13', 'T12', 'T2', 'T14', 'T25', 'T29', 'T15', 'T17']

In [7]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`

application_types_to_replace = list(application_type_count[application_type_count < 700].index) 

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other") # funstion (app,"Other") is renaming to other so it cums it up

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
Other      804
T8         737
T7         725
Name: APPLICATION_TYPE, dtype: int64

In [8]:
# Look at CLASSIFICATION value counts for binning
classification_count = application_df['CLASSIFICATION'].value_counts()
classification_count

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C3700        1
C1728        1
C2570        1
C4200        1
C6100        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [9]:
# You may find it helpful to look at CLASSIFICATION value counts >1
classification_count[classification_count > 1]

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C4100        6
C1720        6
C2400        6
C1600        5
C1257        5
C0           3
C2710        3
C1260        3
C1246        2
C3200        2
C1256        2
C1267        2
C1234        2
Name: CLASSIFICATION, dtype: int64

In [10]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = list(classification_count[classification_count < 1000].index) 
classifications_to_replace

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [11]:
name_count = application_df['NAME'].value_counts()
name_count

PARENT BOOSTER USA INC                             1260
TOPS CLUB INC                                       765
UNITED STATES BOWLING CONGRESS INC                  700
WASHINGTON STATE UNIVERSITY                         492
AMATEUR ATHLETIC UNION OF THE UNITED STATES INC     408
                                                   ...
MADISON HEIGHTS PARENT TEACHER ORGANIZATION           1
BEAUMONT HIGH SCHOOL FOOTBALL BOOSTERS                1
ASHCREEK PARENT COOPERATIVE PLAYSCHOOL                1
HEARTBEAT MINISTRIES                                  1
VICTORY ENSURED THRU SERVICE                          1
Name: NAME, Length: 19568, dtype: int64

In [12]:
names_to_replace = list(name_count[name_count < 5].index) 
names_to_replace

# Replace in dataframe
for name in names_to_replace:
    application_df['NAME'] = application_df['NAME'].replace(name,"Other")
    
# Check to make sure binning was successful
application_df['NAME'].value_counts()

Other                                                                 19803
PARENT BOOSTER USA INC                                                 1260
TOPS CLUB INC                                                           765
UNITED STATES BOWLING CONGRESS INC                                      700
WASHINGTON STATE UNIVERSITY                                             492
                                                                      ...
FEDERATED GARDEN CLUBS OF MISSOURI INC                                    5
HIGH TWELVE INTERNATIONAL                                                 5
COLLEGE AND UNIVERSITY PROFESSIONAL ASSOCIATION FOR HUMAN SERVICES        5
ACTS MINISTRY                                                             5
NATIONAL ASSOCIATION OF COMPOSERS USA                                     5
Name: NAME, Length: 403, dtype: int64

In [13]:
application_df.shape

(34299, 11)

In [14]:
# Convert categorical data to numeric with `pd.get_dummies`
application_dummies_df = pd.get_dummies(application_df)
application_dummies_df.shape
application_dummies_df

,STATUS,ASK_AMT,IS_SUCCESSFUL,NAME_AACE INTERNATIONAL,NAME_ACE MENTOR PROGRAM OF AMERICA INC,NAME_ACTS MINISTRY,NAME_ACTS MISSIONS,NAME_AFRICAN-AMERICAN POSTAL LEAGUE UNITED FOR SUCCESS A-PLUS,NAME_AIR FORCE ASSOCIATION,NAME_ALABAMA FEDERATION OF WOMENS CLUBS,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,1,108590,1,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,1,0
2,1,5000,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
3,1,6692,1,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,1,0
4,1,142590,1,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,1,5000,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
34295,1,5000,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
34296,1,5000,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
34297,1,5000,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
34298,1,36500179,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,1,0

In [15]:
# Split our preprocessed data into our features and target arrays
X = application_dummies_df.drop(["IS_SUCCESSFUL"], axis='columns').values # the axis can be 1 or columns or if rows 0 or rows
y = application_dummies_df["IS_SUCCESSFUL"].values
# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

In [16]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [17]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.

number_input_features = len(X_train[0])
hidden_nodes_layer1 =  100
hidden_nodes_layer2 = 30
hidden_nodes_layer3 = 10
nn = tf.keras.models.Sequential()
# First hidden layer
nn.add(
    tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu")
)
# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="sigmoid"))
# Third hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer3, activation="sigmoid"))
# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))
# Check the structure of the model
nn.summary()

WARNING:tensorflow:From C:\Users\manni\anaconda3\envs\PythonData\lib\site-packages\tensorflow\python\ops\init_ops.py:1251: calling VarianceScaling.__init__ (from tensorflow.python.ops.init_ops) with dtype is deprecated and will be removed in a future version.
Instructions for updating:
Call initializer instance with the dtype argument instead of passing it to the constructor
Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense (Dense)                (None, 100)               44600
_________________________________________________________________
dense_1 (Dense)              (None, 30)                3030
_________________________________________________________________
dense_2 (Dense)              (None, 10)                310
_________________________________________________________________
dense_3 (Dense)              (None, 1)                 11
=================================================================
Total params: 47,951
Trainable params: 47,951
Non-trainable params: 0
_________________________________________________________________

In [18]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

WARNING:tensorflow:From C:\Users\manni\anaconda3\envs\PythonData\lib\site-packages\tensorflow\python\ops\nn_impl.py:180: add_dispatch_support.<locals>.wrapper (from tensorflow.python.ops.array_ops) is deprecated and will be removed in a future version.
Instructions for updating:
Use tf.where in 2.0, which has the same broadcast rule as np.where

In [19]:
# Train the model
fit_model = nn.fit(X_train_scaled, y_train, epochs=100)

Epoch 1/100
25724/25724 [==============================] - 1s 25us/sample - loss: 0.5041 - acc: 0.7642
Epoch 2/100
25724/25724 [==============================] - 1s 21us/sample - loss: 0.4421 - acc: 0.7949
Epoch 3/100
25724/25724 [==============================] - 1s 21us/sample - loss: 0.4316 - acc: 0.7984
Epoch 4/100
25724/25724 [==============================] - 1s 21us/sample - loss: 0.4274 - acc: 0.7995
Epoch 5/100
25724/25724 [==============================] - 1s 21us/sample - loss: 0.4240 - acc: 0.8014
Epoch 6/100
25724/25724 [==============================] - 1s 21us/sample - loss: 0.4207 - acc: 0.8009
Epoch 7/100
25724/25724 [==============================] - 1s 21us/sample - loss: 0.4191 - acc: 0.8023
Epoch 8/100
25724/25724 [==============================] - 1s 21us/sample - loss: 0.4184 - acc: 0.8019
Epoch 9/100
25724/25724 [==============================] - 1s 21us/sample - loss: 0.4162 - acc: 0.8031
Epoch 10/100
25724/25724 [==============================] - 1s 21us/sample - loss: 0.4150 - acc: 0.8029
Epoch 11/100
25724/25724 [==============================] - 1s 21us/sample - loss: 0.4144 - acc: 0.8031
Epoch 12/100
25724/25724 [==============================] - 1s 21us/sample - loss: 0.4136 - acc: 0.8038
Epoch 13/100
25724/25724 [==============================] - 1s 21us/sample - loss: 0.4127 - acc: 0.8033
Epoch 14/100
25724/25724 [==============================] - 1s 21us/sample - loss: 0.4121 - acc: 0.8043
Epoch 15/100
25724/25724 [==============================] - 1s 22us/sample - loss: 0.4115 - acc: 0.8043
Epoch 16/100
25724/25724 [==============================] - 1s 21us/sample - loss: 0.4105 - acc: 0.8052
Epoch 17/100
25724/25724 [==============================] - 1s 21us/sample - loss: 0.4099 - acc: 0.8052
Epoch 18/100
25724/25724 [==============================] - 1s 21us/sample - loss: 0.4093 - acc: 0.8048
Epoch 19/100
25724/25724 [==============================] - 1s 21us/sample - loss: 0.4089 - acc: 0.8052
Epoch 20/100
25724/25724 [==============================] - 1s 21us/sample - loss: 0.4082 - acc: 0.8050
Epoch 21/100
25724/25724 [==============================] - 1s 21us/sample - loss: 0.4079 - acc: 0.8048
Epoch 22/100
25724/25724 [==============================] - 1s 21us/sample - loss: 0.4073 - acc: 0.8061
Epoch 23/100
25724/25724 [==============================] - 1s 21us/sample - loss: 0.4070 - acc: 0.8066
Epoch 24/100
25724/25724 [==============================] - 1s 22us/sample - loss: 0.4064 - acc: 0.8059
Epoch 25/100
25724/25724 [==============================] - 1s 21us/sample - loss: 0.4061 - acc: 0.8067
Epoch 26/100
25724/25724 [==============================] - 1s 22us/sample - loss: 0.4053 - acc: 0.8056
Epoch 27/100
25724/25724 [==============================] - 1s 21us/sample - loss: 0.4054 - acc: 0.8063
Epoch 28/100
25724/25724 [==============================] - 1s 21us/sample - loss: 0.4047 - acc: 0.8065
Epoch 29/100
25724/25724 [==============================] - 1s 21us/sample - loss: 0.4046 - acc: 0.8066
Epoch 30/100
25724/25724 [==============================] - 1s 21us/sample - loss: 0.4039 - acc: 0.8078
Epoch 31/100
25724/25724 [==============================] - 1s 22us/sample - loss: 0.4037 - acc: 0.8080
Epoch 32/100
25724/25724 [==============================] - 1s 21us/sample - loss: 0.4036 - acc: 0.8078
Epoch 33/100
25724/25724 [==============================] - 1s 21us/sample - loss: 0.4033 - acc: 0.8075
Epoch 34/100
25724/25724 [==============================] - 1s 21us/sample - loss: 0.4026 - acc: 0.8083
Epoch 35/100
25724/25724 [==============================] - 1s 21us/sample - loss: 0.4026 - acc: 0.8075
Epoch 36/100
25724/25724 [==============================] - 1s 21us/sample - loss: 0.4021 - acc: 0.8087
Epoch 37/100
25724/25724 [==============================] - 1s 21us/sample - loss: 0.4018 - acc: 0.8087
Epoch 38/100
25724/25724 [==============================] - 1s 21us/sample - loss: 0.4016 - acc: 0.8085
Epoch 39/100
25724/25724 [==============================] - 1s 21us/sample - loss: 0.4015 - acc: 0.8080
Epoch 40/100
25724/25724 [==============================] - 1s 21us/sample - loss: 0.4013 - acc: 0.8085
Epoch 41/100
25724/25724 [==============================] - 1s 21us/sample - loss: 0.4013 - acc: 0.8084
Epoch 42/100
25724/25724 [==============================] - 1s 21us/sample - loss: 0.4009 - acc: 0.8082
Epoch 43/100
25724/25724 [==============================] - 1s 22us/sample - loss: 0.4006 - acc: 0.8082
Epoch 44/100
25724/25724 [==============================] - 1s 22us/sample - loss: 0.4004 - acc: 0.8091
Epoch 45/100
25724/25724 [==============================] - 1s 22us/sample - loss: 0.3999 - acc: 0.8094
Epoch 46/100
25724/25724 [==============================] - 1s 22us/sample - loss: 0.4000 - acc: 0.8087
Epoch 47/100
25724/25724 [==============================] - 1s 22us/sample - loss: 0.4000 - acc: 0.8091
Epoch 48/100
25724/25724 [==============================] - 1s 21us/sample - loss: 0.3999 - acc: 0.8090
Epoch 49/100
25724/25724 [==============================] - 1s 22us/sample - loss: 0.3997 - acc: 0.8092
Epoch 50/100
25724/25724 [==============================] - 1s 22us/sample - loss: 0.3992 - acc: 0.8100
Epoch 51/100
25724/25724 [==============================] - 1s 22us/sample - loss: 0.3992 - acc: 0.8100
Epoch 52/100
25724/25724 [==============================] - 1s 22us/sample - loss: 0.3993 - acc: 0.8089
Epoch 53/100
25724/25724 [==============================] - 1s 21us/sample - loss: 0.3987 - acc: 0.8103
Epoch 54/100
25724/25724 [==============================] - 1s 21us/sample - loss: 0.3987 - acc: 0.8099
Epoch 55/100
25724/25724 [==============================] - 1s 21us/sample - loss: 0.3988 - acc: 0.8097
Epoch 56/100
25724/25724 [==============================] - 1s 21us/sample - loss: 0.3985 - acc: 0.8095
Epoch 57/100
25724/25724 [==============================] - 1s 21us/sample - loss: 0.3982 - acc: 0.8098
Epoch 58/100
25724/25724 [==============================] - 1s 21us/sample - loss: 0.3980 - acc: 0.8101
Epoch 59/100
25724/25724 [==============================] - 1s 21us/sample - loss: 0.3976 - acc: 0.8103
Epoch 60/100
25724/25724 [==============================] - 1s 21us/sample - loss: 0.3975 - acc: 0.8096
Epoch 61/100
25724/25724 [==============================] - 1s 22us/sample - loss: 0.3974 - acc: 0.8103
Epoch 62/100
25724/25724 [==============================] - 1s 22us/sample - loss: 0.3973 - acc: 0.8101
Epoch 63/100
25724/25724 [==============================] - 1s 22us/sample - loss: 0.3970 - acc: 0.8103
Epoch 64/100
25724/25724 [==============================] - 1s 21us/sample - loss: 0.3971 - acc: 0.8107
Epoch 65/100
25724/25724 [==============================] - 1s 21us/sample - loss: 0.3973 - acc: 0.8108
Epoch 66/100
25724/25724 [==============================] - 1s 21us/sample - loss: 0.3976 - acc: 0.8111
Epoch 67/100
25724/25724 [==============================] - 1s 22us/sample - loss: 0.3973 - acc: 0.8105
Epoch 68/100
25724/25724 [==============================] - 1s 21us/sample - loss: 0.3969 - acc: 0.8105
Epoch 69/100
25724/25724 [==============================] - 1s 21us/sample - loss: 0.3968 - acc: 0.8109
Epoch 70/100
25724/25724 [==============================] - 1s 21us/sample - loss: 0.3971 - acc: 0.8111
Epoch 71/100
25724/25724 [==============================] - 1s 21us/sample - loss: 0.3966 - acc: 0.8111
Epoch 72/100
25724/25724 [==============================] - 1s 21us/sample - loss: 0.3970 - acc: 0.8110
Epoch 73/100
25724/25724 [==============================] - 1s 21us/sample - loss: 0.3964 - acc: 0.8111
Epoch 74/100
25724/25724 [==============================] - 1s 21us/sample - loss: 0.3961 - acc: 0.8116
Epoch 75/100
25724/25724 [==============================] - 1s 21us/sample - loss: 0.3965 - acc: 0.8111
Epoch 76/100
25724/25724 [==============================] - 1s 21us/sample - loss: 0.3963 - acc: 0.8108
Epoch 77/100
25724/25724 [==============================] - 1s 21us/sample - loss: 0.3961 - acc: 0.8114
Epoch 78/100
25724/25724 [==============================] - 1s 21us/sample - loss: 0.3962 - acc: 0.8110
Epoch 79/100

25724/25724 [==============================] - 1s 21us/sample - loss: 0.3959 - acc: 0.8117
Epoch 80/100
25724/25724 [==============================] - 1s 21us/sample - loss: 0.3961 - acc: 0.8110
Epoch 81/100
25724/25724 [==============================] - 1s 21us/sample - loss: 0.3959 - acc: 0.8110
Epoch 82/100
25724/25724 [==============================] - 1s 21us/sample - loss: 0.3957 - acc: 0.8109
Epoch 83/100
25724/25724 [==============================] - 1s 22us/sample - loss: 0.3955 - acc: 0.8113
Epoch 84/100
25724/25724 [==============================] - 1s 21us/sample - loss: 0.3955 - acc: 0.8111
Epoch 85/100
25724/25724 [==============================] - 1s 21us/sample - loss: 0.3958 - acc: 0.8112
Epoch 86/100
25724/25724 [==============================] - 1s 21us/sample - loss: 0.3956 - acc: 0.8112
Epoch 87/100
25724/25724 [==============================] - 1s 21us/sample - loss: 0.3955 - acc: 0.8113
Epoch 88/100
25724/25724 [==============================] - 1s 21us/sample - loss: 0.3955 - acc: 0.8115
Epoch 89/100
25724/25724 [==============================] - 1s 21us/sample - loss: 0.3949 - acc: 0.8111
Epoch 90/100
25724/25724 [==============================] - 1s 21us/sample - loss: 0.3951 - acc: 0.8110
Epoch 91/100
25724/25724 [==============================] - 1s 21us/sample - loss: 0.3951 - acc: 0.8117
Epoch 92/100
25724/25724 [==============================] - 1s 21us/sample - loss: 0.3948 - acc: 0.8116
Epoch 93/100
25724/25724 [==============================] - 1s 21us/sample - loss: 0.3954 - acc: 0.8113
Epoch 94/100
25724/25724 [==============================] - 1s 21us/sample - loss: 0.3948 - acc: 0.8113
Epoch 95/100
25724/25724 [==============================] - 1s 21us/sample - loss: 0.3952 - acc: 0.8118
Epoch 96/100
25724/25724 [==============================] - 1s 21us/sample - loss: 0.3952 - acc: 0.8118
Epoch 97/100
25724/25724 [==============================] - 1s 21us/sample - loss: 0.3949 - acc: 0.8119
Epoch 98/100
25724/25724 [==============================] - 1s 21us/sample - loss: 0.3951 - acc: 0.8113
Epoch 99/100
25724/25724 [==============================] - 1s 21us/sample - loss: 0.3949 - acc: 0.8118
Epoch 100/100
25724/25724 [==============================] - 1s 21us/sample - loss: 0.3948 - acc: 0.8113

In [20]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

8575/8575 - 0s - loss: 0.4701 - acc: 0.7890
Loss: 0.47011283201309406, Accuracy: 0.7890378832817078

In [21]:
# Export our model to HDF5 file
nn.save("AlphabetSoupCharity_Optimization.h5")